      <div class="sidebar" data-color="rose" data-background-color="black" data-image="/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
          Tip 2: you can also add an image using data-image tag
        -->
        <div class="logo">
          <a href="/" class="simple-text logo-mini">
            GF
          </a>
          <a href="/" class="simple-text logo-normal">
            Grad Force
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <% if (userRole === 'student') { %>
            <li class="nav-item <%= sidebarPos === 'myprofile' ? 'active' : '' %>">
              <a class="nav-link" href="/profile">
                <i class="material-icons">person</i>
                <p> My Profile </p>
              </a>
            </li>
            <li class="nav-item <%= sidebarPos === 'myeducation' ? 'active' : '' %>">
              <a class="nav-link" href="/education">
                <i class="material-icons">school</i>
                <p> My Education </p>
              </a>
            </li>
            <li class="nav-item <%= sidebarPos === 'mywork' ? 'active' : '' %>">
              <a class="nav-link" href="/work">
                <i class="material-icons">work</i>
                <p> My Work </p>
              </a>
            </li>
            <% } %>
            <% if (userRole === 'admin') { %>
            <li class="nav-item <%= sidebarPos === 'dashboard' ? 'active' : '' %>">
              <a class="nav-link" href="/dashboard">
                <i class="material-icons">dashboard</i>
                <p> Dashboard </p>
              </a>
            </li>
            <li class="nav-item <%= sidebarPos === 'allStudents' ? 'active' : '' %>">
              <a class="nav-link" href="/students/all">
                <i class="material-icons">supervisor_account</i>
                <p> All Students </p>
              </a>
            </li>
            <li class="nav-item <%= sidebarPos === 'interviewedStudents' ? 'active' : '' %>">
              <a class="nav-link" href="/students/interviewed">
                <i class="material-icons">done</i>
                <p> Interviewed Students </p>
              </a>
            </li>
            <li class="nav-item <%= sidebarPos === 'approvedStudents' ? 'active' : '' %>">
              <a class="nav-link" href="/students/approved">
                <i class="material-icons">verified_user</i>
                <p> Approved Students </p>
              </a>
            </li>
            <li class="nav-item <%= sidebarPos === 'skills' ? 'active' : '' %>">
              <a class="nav-link" href="/skills">
                <i class="material-icons">assignment</i>
                <p> Skills </p>
              </a>
            </li>
            <% } %>
          </ul>
        </div>
      </div>