<% include ./partials/head %>
<body class="">
  <div class="wrapper">
    <% include ./partials/sidebar %>
    <div class="main-panel">
      <!-- Navbar -->
      <% include ./partials/navbar %>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Students</h4>
                </div>
                <div class="card-body">
                  <div class="toolbar">
                    <!-- Here you can write extra buttons/actions for the toolbar -->
                    <input id="csrf" type="hidden" value="<%= csrfToken %>">
                    <span class="badge badge-success">Junior</span>
                    <span class="badge badge-warning">Middle</span>
                    <span class="badge badge-danger">Senior</span>
                    <span class="badge badge-default">Not defined</span>
                  </div>
                  <% if(students.length > 0) { %>
                  <div class="material-datatables">
                    <table id="allStudentsTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th class="disabled-sorting">Skills</th>
                          <th class="disabled-sorting">Interviewed</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Skills</th>
                          <th>Interviewed</th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <% for (let student of students) { %>
                        <tr onclick="window.location='/profile/<%= student._id %>';">
                          <td><%= student.firstName + ' ' + student.lastName %> <span><i class="material-icons md-16"><%= student.isApproved ? 'verified_user' : '' %></i></span></td>
                          <td><%= student.email %></td>
                          <td>
                            <% if(student.skills.length > 0) { %>
                              <% for (let skill of student.skills) { %>
                                <!-- is there switch statement for this rendering engine? if seems noisy -->
                                <span
                                  class="skill badge 
                                  <%= skill.skillLevel === '' ? 'badge-default' : '' %>
                                  <%= skill.skillLevel === 'junior' ? 'badge-success' : '' %>
                                  <%= skill.skillLevel === 'middle' ? 'badge-warning' : '' %>
                                  <%= skill.skillLevel === 'senior' ? 'badge-danger' : '' %>
                                  ">
                                  <%= skill.name %>
                              </span>
                              <% } %>
                            <% } else { %>
                              <span class="badge badge-default">N/A</span>
                            <% } %>
                          </td>
                          <!-- if possible - would be nice to use some static code analyzer -->
                          <td><i class="material-icons"><%= student.isInterviewed ? 'done' : '' %></i></td>
                          <!-- <td class="text-right">
                            <a href="/profile/<%= student._id %>" class="btn btn-link btn-default btn-just-icon"><i class="material-icons">assignment_ind</i></a>
                            <a href="#" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                          </td> -->
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                  <% } else { %>
                    <h4>No students found</h4>
                  <% } %>
                </div>
                <!-- end content-->
              </div>
              <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
          </div>
          <!-- end row -->
        </div>
      </div>
      <% include ./partials/footer %>
    </div>
  </div>
  <% include ./partials/scripts %>
  <script>
    $(document).ready(function() {
      //init DateTimePickers
      md.initFormExtendedDatetimepickers();
    });
  </script>
</body>

</html>